.calculator{
    width: 40%;
    height: 70vh;
    margin: 10vh auto;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgray;
}
/* SCREEN */
#screen{
    width: 98%;
    height: 20%;
    border: 1px solid black;
    margin: 4px auto;
    background: white;
    position: relative;
}

#screen-span{
    position: absolute;
    bottom: -5px;
    right: 2px;
    font-size: 2.5rem;
    font-weight: 600;
}

#operator{
    position: absolute;
    top: 2px;
    left: 2px;
    text-align: center center;
}
/* BUTTONS */
#buttons{
    width: 98%;
    height: 77%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4px;
    /* padding: 4px; */
    margin: 0 auto;
}

#zero-button{
    grid-column: 1 / span 2;
}

#buttons div{
    text-align: center;
    vertical-align: middle;
    /*adjust line-height to center the text vertically */
    font-size: 24px;
    line-height: 60.73px; 
    border: 1px solid black;
}


/* COLORING THE BUTTONS */
#equal{
    background: #007bff;
    color: white;
    transition: background-color 0.25s;
}

#add, #subtract, #divide, #multiply{
    background: #dc3545;
    color: white;
    transition: background-color 0.25s;
}

#ac, #plus-minus, #percentage{
    background: #28a745;
    color: white;
    transition: background-color 0.25s;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero-button, #period{
    background: white;
}

#equal:hover{
    background: #055cba;
    cursor: pointer;
}
#add:hover{
    background: #b12e3b;
    cursor: pointer;
}
#subtract:hover{
    background: #b12e3b;
    cursor: pointer;
}
#divide:hover{
    background: #b12e3b;
    cursor: pointer;
}
#multiply:hover{
    background: #b12e3b;
    cursor: pointer;
}
#ac:hover{
    background: #29873f;
    cursor: pointer;
}
#plus-minus:hover{
    background: #29873f;
    cursor: pointer;
}
#percentage:hover{
    background: #29873f;
    cursor: pointer;
}
#one:hover{
    background: whitesmoke;
    cursor: pointer;
}
#two:hover{
    background: whitesmoke;
    cursor: pointer;
}
#three:hover{
    background: whitesmoke;
    cursor: pointer;
}
#four:hover{
    background: whitesmoke;
    cursor: pointer;
}
#five:hover{
    background: whitesmoke;
    cursor: pointer;
}
#six:hover{
    background: whitesmoke;
    cursor: pointer;
}
#seven:hover{
    background: whitesmoke;
    cursor: pointer;
}
#eight:hover{
    background: whitesmoke;
    cursor: pointer;
}
#nine:hover{
    background: whitesmoke;
    cursor: pointer;
}
#zero-button:hover{
    background: whitesmoke;
    cursor: pointer;
}
#period:hover{
    background: whitesmoke;
    cursor: pointer;
}

#note{
    margin-bottom: 10px;
}

#developer{
    text-align: center;
    color: white;
    background: linear-gradient(to right, rgb(73, 73, 223), rgb(166, 69, 166));
    padding: 3px;
    margin-bottom: 5rem;
}

ul{
    margin-top: -9px;
}

li a{
    color: white;
}



@media screen and (max-width: 576px) {
    .calculator{
        width: 95%;
        height: 70vh;
        margin: 8vh auto;
        border: 1px solid black;
    }
}